.results {
  margin-inline-end: 6rem;
  flex-basis: 50%;
}

.result {
  background-color: #495057;
  border-radius: 9px;
  margin-block-end: 0.8rem;
  padding: 0.8rem;
  cursor: pointer;
}

.result:hover {
  background-color: #e9ecef;
  color: #495057;
}
.result img {
  margin-inline-end: 0.5rem;
}
